<% include partials/header %>

<!-- Navbar code -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Book Project</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/books">Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/books/add">Add</a>
      </li>
    </ul>
  </div>
</nav>

  <% if (errors) { %>
    <% for(var i = 0; i < errors.length; i++) { %>
      <div class='alert alert-danger'>
        <%= errors[i].msg %>
      </div>
    <% } %>
  <% } %>

<!-- Main Elements -->
<main class='add_book_main'>
  <h1 class='add_book_title center'>Add New Book</h1>

      <form class='form_container' method='POST', action='/books/add'>
        <label>Title:</label><input size=50 type="text" name='title'/><br> 
        <label>Author:</label><input size=50 type="text" name='author'/><br>
        <label>Body:</label><textarea cols=49 rows=5 type="textarea" name='body'></textarea>
        <div class='btn_align'>
          <button class='btn btn-primary' type='submit' value='submit'>Submit</button>
        </div>
      </form>

</main>


<% include partials/footer %>