<% include partials/header %>

<h1>Books</h1>

<% for(var i = 0; i < books.length; i++) { %>
  <h2>Book Name: <%= books[i].title %> </h2>
  <h2>Book Author: <%= books[i].author %> </h2>
  <p>Book Description: <%= books[i].body %></p>
<% } %>



<% include partials/footer %>