<% include partials/header %>

<div class='img1'>
  <div class='index_title'>
    <h1><a class='anchor_fix' href='/books'>Book Project</a></h1>
  </div>
</div>

<section class='section section-light'>
  <p class='book_quotes'>
    “A reader lives a thousand lives before he dies, said Jojen. The man who never reads lives only one.” 
    ― George R.R. Martin, A Dance with Dragons
  </p>
</section>

<div class='img2'>
</div>

<section class='section section-light'>
  <p class='book_quotes'>
    “The books that the world calls immoral are books that show the world its own shame.” 
    ― Oscar Wilde, The Picture of Dorian Gray
  </p>
</section>

<div class='img3'>
</div>

<section class='section section-light'>
  <p class='book_quotes'>
    “A great book should leave you with many experiences, and slightly exhausted at the end. You live several lives while reading.” 
― William Styron, Conversations with William Styron
  </p>
</section>

<div class='img1'>
  <div class='index_title button_center'>
    <h1>Book Project</h1>
    <button><a href='/books'>Enter</a></button>
  </div>
</div>

<% include partials/footer %>